 <!-- upcoming -->
  <section class="upcoming">
  <div class="containeruser">
    <div class="categoriestitel">
    <h2>Upcoming Events</h2>
    <a href="">View All</a>
    </div>
    <div class="upcomingcard">
        
        <div class="card-event">
            <img src="image/back.jpg" alt="">
            <div class="date-event">
                <p>AUG</p>
                <h4>20</h4>
            </div>
            <div class="event-contant">
                <h4>Tech Conference 2026</h4>
                <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cairo,Egypt</p>
                </div>
                <p id="price">250 EGP</p>
            </div>
          
        </div>
  

                <div class="card-event">
            <img src="image/3.jpg" alt="">
            <div class="date-event">
                <p>AUG</p>
                <h4>20</h4>
            </div>
            <div class="event-contant">
                <h4>Tech Conference 2026</h4>
                <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cairo,Egypt</p>
                </div>
                <p id="price">250 EGP</p>
            </div>
        </div>
               
                        
                <div class="card-event">
            <img src="image/2.jpg" alt="">
            <div class="date-event">
                <p>AUG</p>
                <h4>20</h4>
            </div>
            <div class="event-contant">
                <h4>Tech Conference 2026</h4>
                <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cairo,Egypt</p>
                </div>
                <p id="price">250 EGP</p>
            </div>
        </div>
                       
                                
                <div class="card-event">
            <img src="image/1.jpg" alt="">
            <div class="date-event">
                <p>AUG</p>
                <h4>20</h4>
            </div>
            <div class="event-contant">
                <h4>Tech Conference 2026</h4>
                <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cairo,Egypt</p>
                </div>
                <p id="price">250 EGP</p>
            </div>
        </div>
    
    </div>
  </div>
  </section>