  <div class="categoryhero">
    <header class="header-title">
      <h1>Choose Your Event Category</h1>
      <p>Discover the best events and activities happening near you</p>
    </header>

    <div class="category-wrapper">
      
      <div class="tickets-column">
        <a (click)="goToCategory('music')" class="ticket-card" data-category="music">
          <div class="ticket-cutout left"></div>
          <div class="ticket-content">
            <i class="fa-solid fa-music ticket-icon"></i>
           <span class="ticket-title">Music</span>
          </div>
          <div class="ticket-cutout right"></div>
        </a>

        <a (click)="goToCategory('sports')" class="ticket-card" data-category="sports">
          <div class="ticket-cutout left"></div>
          <div class="ticket-content">
            <i class="fa-solid fa-futbol ticket-icon"></i>
         <span class="ticket-title">Sports</span>
          </div>
          <div class="ticket-cutout right"></div>
        </a>

        <a (click)="goToCategory('art')" class="ticket-card" data-category="art">
          <div class="ticket-cutout left"></div>
          <div class="ticket-content">
            <i class="fa-solid fa-masks-theater ticket-icon"></i>
            <span class="ticket-title">Arts</span>
          </div>
          <div class="ticket-cutout right"></div>
        </a>
      </div>

      <div class="characters-center">
        <img src="image/persoon.png" alt="Spotly Characters" class="characters-img">
      </div>

      <div class="tickets-column">
        <a (click)="goToCategory('technology')" class="ticket-card" data-category="technology">
          <div class="ticket-cutout left"></div>
          <div class="ticket-content">
            <i class="fa-solid fa-laptop-code ticket-icon"></i>
            <span class="ticket-title">Technology</span>
          </div>
          <div class="ticket-cutout right"></div>
        </a>

        <a (click)="goToCategory('business')" class="ticket-card" data-category="culture">
          <div class="ticket-cutout left"></div>
          <div class="ticket-content">
        <i class="fa-solid fa-chart-line ticket-icon"></i>
            <span class="ticket-title">Business</span>
          </div>
          <div class="ticket-cutout right"></div>
        </a>

        <a (click)="goToCategory('workshop')" class="ticket-card" data-category="business">
          <div class="ticket-cutout left"></div>
          <div class="ticket-content">
            <i class="fa-solid fa-briefcase ticket-icon"></i>
            <span class="ticket-title">Workshop</span>
          </div>
          <div class="ticket-cutout right"></div>
        </a>
      </div>

    </div>
  </div>
