<div class="head">
    <div class="container-user">
        <div class="tit">
        <h2 >Discover Events Book Tickets Make Memories</h2>
<p>Find the best events around you and book tickets in just a few clicks.</p>
    </div>


    <div class="par">
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search Events..">
        </div>
        <div class="location">
            <i class="fa-solid fa-location-dot"></i>
            <input type="text" placeholder="Location">
        </div>
        <div class="date">
            <i class="fa-regular fa-calendar"></i>
            <input type="datetime" placeholder="Date">
        </div>
        <div class="search-btn">
<button  type="submit">Search</button>

        </div>
    </div>
    </div>
</div>
