<!-- specifications -->
<div class="features">
   <div class="adv">
   <div class="containeruser specifications">
    <div class="adv-contant">
        <div class="adv-icon">
            <i class="fa-regular fa-calendar-check"></i>
        </div>
        <div class="adv-info">
            <h3>Easy Booking</h3>
            <p>Book your tickets in just a few steps.</p>
        </div>
    </div>
        <div class="adv-contant">
        <div class="adv-icon">
<i class="fa-solid fa-wallet"></i>

</div>
        <div class="adv-info">
            <h3>Secure Payment</h3>
            <p>100% secure payment methods.</p>
        </div>
    </div>
        <div class="adv-contant">
        <div class="adv-icon">
           <i class="fa-regular fa-star"></i>
        </div>
        <div class="adv-info">
            <h3>Instant Confirmation</h3>
            <p>Get your ticket instantly after booking.</p>
        </div>
    </div>
        <div class="adv-contant">
        <div class="adv-icon">
<i class="fa-regular fa-envelope"></i>
        </div>
        <div class="adv-info">
            <h3>24/7 Support</h3>
            <p>We are here to help ypu anytime.</p>
        </div>
    </div>
   </div> 
   </div>
   <!-- support -->
 <div class="support" id="contact"> 
<div class="containeruser supp">
    <div class="support-content">
        <h2>Subscribe To Our Newsletter</h2>
        <p>Get the latest updates about event and offers.</p>
    </div>
    <div class="support-email">
        <input type="email"name="" id="email-user" placeholder="Enter your email">
       
        <button >Subscribe</button>

    </div>
</div>
  </div> 
</div> 