  <!-- popular event -->
   <section class="popular">
   <div class="containeruser">
    <div class="categoriestitel">
    <h2>Popular Events </h2>
    <a href="">View All</a>
    </div>
    <div class="upcomingcard">
        <div class="card-popular">
            <div class="event-img">
            <img src="image/7.jpg" alt="">
            </div>

            <div class="event-contant2">
                <h4>Startup Summit</h4>
                <p>15 Sep 2026</p>
                <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cairo,Egypt</p>
                </div>
                <p id="price2">350 EGP</p>
            </div>
            <div class="heart">
                <i class="fa-regular fa-heart"></i>
            </div>
        </div>
                <div class="card-popular">
            <div class="event-img">
            <img src="image/6.jpg" alt="">
            </div>

            <div class="event-contant2">
                <h4>Art Exhibition</h4>
                 <p>20 Sep 2026</p>
                <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cairo,Egypt</p>
                </div>
                <p id="price2">100 EGP</p>
            </div>
                   <div class="heart">
                <i class="fa-regular fa-heart"></i>
            </div>
        </div>
               <div class="card-popular">
            <div class="event-img">
            <img src="image/8.jpg" alt="">
            </div>

            <div class="event-contant2">
                <h4>Business Conference</h4>
                 <p>25 Sep 2026</p>
                <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Alexandria,Egypt</p>
                </div>
                <p id="price2">300 EGP</p>
            </div>
                   <div class="heart">
                <i class="fa-regular fa-heart"></i>
            </div>
        </div>
                <div class="card-popular">
            <div class="event-img">
            <img src="image/5.jpg" alt="">
            </div>

            <div class="event-contant2">
                <h4>Sports Championship</h4>
                <p>30 Sep 2026</p>
                <div class="address">
                <i class="fa-solid fa-location-dot"></i>
                <p>Cairo,Egypt</p>
                </div>
                <p id="price2">180 EGP</p>
            </div>
                   <div class="heart">
                <i class="fa-regular fa-heart"></i>
            </div>
        </div>
    </div>
  </div>
  </section>