<div class="categorys">
<div class="containeruser">
    <div class="categoriestitel">
        
    <h2>Categories</h2>
    <a href="">View All</a>
    </div>
    <div class="categories">
        <div class="music item">
            <i class="fa-solid fa-music"></i>
            <div class="type">
                <h3>Music</h3>
                <p id="number">20 Events</p>
            </div>
        </div>
        <div class="Business item">
            <i class="fa-solid fa-chart-line"></i>
            <div class="type">
                <h3>Business</h3>
                <p id number>10 Events</p>
            </div>
        </div>
                <div class="technology item">
            <i class="fa-solid fa-robot"></i>
            <div class="type">
                <h3>Technology</h3>
                <p id="number">5 Events</p>
            </div>
        </div>
                <div class="art item">
            <i class="fa-solid fa-masks-theater"></i>
            <div class="type">
                <h3>Art & Culture </h3>
                <p id="number">25 Events</p>
            </div>
        </div>
                <div class="sport item">
           <i class="fa-solid fa-ranking-star"></i>
            <div class="type">
                <h3>Sport</h3>
                <p id="number">12 Events</p>
            </div>
        </div>
                <div class="workshop item">
            <i class="fa-solid fa-building-user"></i>
            <div class="type">
                <h3>Workshop</h3>
                <p>12 Events</p>
            </div>
        </div>
    </div>
 </div>
 </div>
