<div class="navbar">
  
<div class="container-user">
    <div class="nav">
        <div class="logo">
            <img src="image/logo.png" alt="spotly">
            <h1>Spot<span>ly</span></h1>

        </div>
        <div class="listt" id="navMenu">
            <ul  class="nav-menu"
  id="navMenu"
  [class.show]="menuOpen">
                <li><a routerLink="/home" id="active">Home</a></li>
                <li><a routerLink="/allevent" class="navlink">Events</a></li>
                <li><a routerLink="/category" class="navlink">Categories</a></li>
                <li><a href="/aboutus" class="navlink">About Us</a></li>
                <li><a  class="navlink" (click)="goToContact()"> Contact</a></li>
            </ul>

        </div>
        <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-regular fa-bell"></i>
<a routerLink="/profileuser">
  <img [src]="userAvatar" alt="user">
</a>
            <a routerLink="/signup"><i class="fa-solid fa-right-to-bracket"></i></a>
 </div>

            <i
  class="fa-solid fa-bars menu-toggle"
  (click)="toggleMenu()">
</i>

        

    </div>
</div>
</div>